*,
*::after
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
   --white :#f9fafc;
   --black : rgb(0, 0, 0);

}
body{
    background-color: var(--black);
    overflow-x:hidden ;
}

    nav{
        color: var(--white);
        
    }
.container_nav{
  bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10rem;
   margin: 3rem;
   font-family: sans-serif;

}

.container_navlis{
    display:flex;
    gap: 50px;
    margin-top: 41.5px;
    list-style-type:none; 
    justify-content: center;
    
    
}
.container_navlis li a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;

}
.container_navlista{
    color: var(--white);
    cursor: pointer;
   box-shadow: 0px  yellow;
   list-style-type: none;
   
} 


.container_navlista a:hover{
    color: yellow ;

}



/*imgplatillo*/
.img_nav__platillos{
    width: 55px;
}



.lis_registro{
    display: flex;
    gap: 15px;
    margin-left: 15rem ;
    
}

.lisregistro_nav {
    display: flex;
    padding: 4px;
    margin-top: -3px;
    width: 10rem ;
    justify-content: center;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--black);
    border: none;
    font-size: 16px;
    transition: 0.5s ease-in;

}
.nav_text{
    color:var(--white);
    text-decoration: none;
   

}
.space{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    gap: 165px;
}



.text_corto{
    color: var(--white);
    font-size: 28px;
    font-family: sans-serif;

}


header{
    color: var(--white);
  
}

.container_2header{
    display: flex; /* Esto crea un contenedor flexible para alinear los elementos */
    justify-content: center;
    width: 50%;
    max-width: 500px;
    padding: 50px;
    height: 300px;
    margin-left: 10rem;
    float: right;
}
.bloque1{
    flex: 1;
    float:right;
    padding: 0;
    margin: 0;


}
    
.titler_header{
    font-size: 57px;
    font-weight: 900;
    font-family: sans-serif;
    padding-right: 10rem;

}
.parr_header{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 20px;
    padding-right: 2rem;

}

.span_btn_header{
    border-radius:10px ;
    background-color: yellow;
    color: var(--black);
    font-weight: bold;
    padding: 15px;
    margin-left: 120px;
    cursor: pointer;
}
.bbloque2{
   flex: 1;
   justify-content: center;
   float: right;

   
}

.img_header{
 
    filter: saturate(90%) contrast(150%);
     width: 45rem;
     margin-right: 10%;
  
}


/* hover for button (botones derecha) */
.container_navlista:hover {
    color: var(--white);
    cursor: pointer;
    box-shadow: 0px 2px yellow;
    
} 

/*hover for button(botones izquierda)*/
.lisregistro_nav:hover{

background-color: yellow;
border-radius: 20px;
}
.lisregistro_nav:hover{
 color: black;
font-weight: bold;
cursor: pointer;
}

/*segunda hoja*/
.comilla{
    width: 5rem;
    height: 5rem;
    justify-content: center;
    display: flex;
    margin-left: 5%;
}
section{
   display: flex;
   justify-content: center;
}

.contain{
    margin-top: 10%;
    max-width: 500px;
    
}


.h2_header2{
    margin-left: 155px;
    font-family: sans-serif;
    font-size: 30px;
    padding-right: 45rem;
    color: var(--white);
    

}
.container_main{
    color: var(--white);
    display: flex;
    margin-left: 650px;
    gap: 50px;
    max-width: 100px;
    justify-content: center;
    align-items: center;
}

.datos_tittle_login{
    font-size:45px;
    text-shadow: 1px 2px 1px black;
}
.usuario_login{
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgb(26, 3, 3);
    font-family: 'Times New Roman', Times, serif;
}
.contraseña_text{
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgb(26, 3, 3);
    font-family: 'Times New Roman', Times, serif;
}


.porcent{
    font-size: 70px;
    margin: 0;
}
.parr_area1{
width: 20rem;
}
.parr_area2{
width: 20rem;
}
.parr_area3{
width: 20rem;
}

.container_login{
background-color: rgb(77, 77, 72);
color: rgb(255, 255, 255);
display: flex;
justify-content: center;
height: 250px;
border-radius: 30px;
transition: opacity 0.6s ease;
width: 23rem;
margin-left: 600px;
display: none;
opacity: 0;
z-index: 3;
position: absolute;
text-align: center;


}

.label1{
    display: flex;
    gap: 39px;
   
    display: flex;
    justify-content: center;
}

.label2{
    display: flex;
    gap: 15px;
    display: flex;
    justify-content: center;
}

header, main{
    z-index: 1;
}
.cotainer_info{
    margin-top: -480px;
   ;
}


.container_nav{
    z-index: 1;
    position: relative;
}

.img-login{
    z-index: 2;
    overflow: hidden;
    display: flex;
    width: 100%;
    border-radius: 30px;
}

footer{
    background-color: rgb(83, 83, 83);
   color: var(--white);
   padding: 20px;
 
   width: 100%;
}

